version: 2.1
orbs:
  node: circleci/node@4.1.0
jobs:
  build-and-test:
    executor:
      name: node/default
    steps:
      - checkout
      - node/install:
          install-npm: true
      - node/install-packages:
          pkg-manager: npm
      - run: npm run test
workflows:
  build-and-test:
    jobs:
      - build-and-test
